<!DOCTYPE html>
<html>
  <head>
    <title data-l10n-id="md_comments.comments">Comments</title>
    <link href="../static/plugins/md_comments/static/style.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
